@model MovieFormViewModel

@{
    ViewData["Title"] = "Movie Form";
}

<h2> Edit </h2>
<hr />

<h7>   @DateTime.Now.ToLongTimeString() </h7>

 
<section class="row justify-content-between" id="MovieFormEdit">

    <form id="EditForm" data-ajax-method="post" data-ajax="true"
          data-ajax-update="#MovieFormEdit" asp-action="Edit" enctype="multipart/form-data"
          data-ajax-failure="onMovieFormEditFailure" data-ajax-success="onMovieFormEditSuccess" >
        @Html.EditorFor(p=>p)
       
    </form>

</section>

<div>
    <div id="Spinner" class="row" style="display:none;">
        <i class="spinner-border"></i>
    </div>
    <button type="button"  class="btn btn-primary mt-4" id="FormButton" onclick="onSubmitForm()">
        <i class="bi bi-check"></i>
        Save
    </button>

  @*  <button type="submit" form="EditForm" id="SubmitButton">
        <i class="bi bi-check"></i>
        Save
    </button*@

    <a class="btn btn-secondary mt-4" asp-action="Index">
        <i class="bi bi-x"></i>
        Cancel
    </a>
</div>


@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function onReloadPage(){
            $('#Poster').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop();
                // to view image name in the label  (labe on the same level oh used input)
                $(this).siblings('label').text(selectedFile);

                var posterContainer = $('#poster-container');
                //take the file uploaded(there is only 1 file so it will be in index zero)
                var image = window.URL.createObjectURL(this.files[0]);
                // remove the class  that make the image hidden

                posterContainer.removeClass('d-none');
                // set value of src according to selected image
                // fing the image in this class by tag because there is no other images
                //set the src attribute by image value (uploaded image)
                posterContainer.find('img').attr('src', image);
            });
            

            $('#Year').datepicker({
                format: 'yyyy',
                viewMode: 'years',
                minViewMode: 'years',
                autoclose: true,
                startDate: new Date('1950-01-01'),
                endDate: new Date()
            });

           
        }

        function onSubmitForm(){

            $("#EditForm").submit();
        }

        $(document).ready(function () {
            onReloadPage()
        });

        onMovieFormEditFailure = function (xhr) {
            onReloadPage()
            console.log(xhr)
            alert(`Failed`);
        };


        function onMovieFormEditSuccess(e){
            onReloadPage()
         
            alert('success')
        };

        function onMovieFormEditComplete(e) {
           onSubmitForm()
        };


    //  function submitForm() {
    //    // Get the form element
    //    var formElement = document.getElementById("EditForm");

    //    // Create a FormData object
    //    var formData = new FormData(formElement);

    //    // Submit the form data using AJAX
    //    $.ajax({
    //        url: $(this).attr("action"),
    //        type: "POST",
    //        data: formData,
    //        success: function(data) {
    //           alert('success')
    //                onReloadPage()
    //        },
    //    });
    //}
        // Bind the submit event to the form
        //$("#SubmitButton").click(submitForm);
  
    </script>  
}


